:root {
  --light-grey: #e0e0e0;
  --dark-blue: #03396c;
  --primary-color: #3f51b5;
  --light-yellow: #fff59d;
  --dark-yellow: #fbc02d;
  --light-pink: #ff8a80;
  --dark-red: #d32f2f;
  --light-green: #81c784;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  background-color: var(--primary-color);
  color: var(--light-grey);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--dark-blue);
  color: white;
  text-align: center;
  padding: 10px 0;
}

header img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}

h1 {
  margin: 0;
  text-align: center;
}

.calorie-tracker {
  background-color: white;
  color: var(--dark-blue);
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label,
  legend {
    font-weight: bold;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
  }
  
  button {
    outline: none;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--light-yellow);
    border: 2px solid var(--dark-yellow);
  }
  
  .clear {
    background-color: var(--light-pink);
    color: var(--dark-red);
    border-color: var(--dark-red);
  }
  
  button,
  input,
  select {
    min-height: 24px;
    color: var(--dark-blue);
  }
  
  fieldset,
  label,
  button,
  input,
  select {
    margin-bottom: 10px;
  }
  
  .output {
    border: 2px solid var(--light-grey);
    padding: 10px;
    text-align: center;
  }
  
  .hide {
    display: none;
  }
  
  .output span {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .surplus {
    color: var(--light-green);
  }
  
  .deficit {
    color: var(--light-pink);
  }
